.example {
  text-align: center;
}

.green-hearts {
  min-height: 3em;
}

.green-heart {
  height: 2em;
}

.example-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logged-in-status-message {
  min-height: 2.5em;
}

.hearts {
  min-height: 2.5em;
  margin-top: .5em;
}

button {
  background: #eeeeee;
}
