.example {
  text-align: center;
}

.td-logo {
  animation: logo-effect infinite 15s linear;
  height: 40vmin;
}

.green-heart {
  height: 2em;
}

.example-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logged-in-status-message {
  min-height: 2.5em;
}

.hearts {
  min-height: 2.5em;
  margin-top: .5em;
}

button {
  background: #eeeeee;
}

@keyframes logo-effect {
  0% { filter: hue-rotate(0deg); }
  25% { filter: hue-rotate(0deg); }
  50% { filter: hue-rotate(360deg); }
  100% { filter: hue-rotate(360deg); }
}

